/******************************************************
 * @package Pav Opencart Theme Framework for Opencart 1.5.x
 * @version 1.1
 * @author http://www.pavothemes.com
 * @copyright	Copyright (C) Augus 2013 PavoThemes.com <@emai:pavothemes@gmail.com>.All rights reserved.
 * @license		GNU General Public License version 2
*******************************************************/

/**
 * BASE CSS STYLES
 */

html {
	margin: 0;
	padding: 0;
}
body {
	background-color: @body-bg;
	margin: 0px;
	padding: 0px;
    font-size: @font-size-base;
    overflow-x: hidden; 
}

.fs9{ font-size:@font-size-base - 3 ; }
.fs10{ font-size:@font-size-base - 2; }
.fs11{ font-size:@font-size-base - 1 ; }
.fs12{ font-size:@font-size-base; }
.fs13{ font-size:@font-size-base + 1; }
.fs14{ font-size:@font-size-base + 2; }
.fs15{ font-size:@font-size-base + 3; }
.fs16{ font-size:@font-size-base + 4; }

a {
    img {
        border: none;
    }
     &:hover {
        text-decoration: none;
        color: @theme-color-secondary;
    }
    &:focus {
        outline: none;
        outline-offset: -2px;
        color: @theme-color-secondary;
    }
    cursor: hand;cursor: pointer;
}

img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

ul,ol {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul li , ol li {
 line-height: 20px;
}
body, td, th, input, textarea, select, a {
    outline: 0 none;
}
a,a:hover,a:focus{
     .transition ( color 0.4s ease 0s);
     text-decoration: none;
}
.quantity input,
input[name="quantity"] {
        width: auto;
        display:  inline;
        text-align: center;
}
/* TABLE STYLE */
table.list {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid @table-border-color;
    border-left: 1px solid @table-border-color;
    margin-bottom: 20px;
    thead {
        td {
            background-color: @table-bg;
            padding: 0px 5px;
        }
    }
    .center {
        text-align: center;
        padding: 7px;
    }
    tbody {
        td {
            padding: 0px 5px;
        }
    }
    td {
        border-right: 1px solid @table-border-color;
        border-bottom: 1px solid @table-border-color;
    }
    .right {
        text-align: right;
        padding: 7px;
    }
    .left {
        text-align: left;
        padding: 7px;
    }
}
table.list thead td a, .list thead td {
    text-decoration: none;
    color: #222222;
    font-weight: bold;
}
input.large-field, select.large-field {
    width: 300px;
}
table.form {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    & > * {
        & > * {
            & > td {
                color: #000000;
            }
        }
    }
    td {
        padding: 4px;
    }
    tr {
        td:first-child {
            width: 150px;
        }
    }
}
table.radio {
    width: 100%;
    border-collapse: collapse;
    td {
        padding: 5px;
        label {
            display: block;
        }
    }
    tr {
        td:first-child {
            width: 1px;
            input {
                margin-top: 1px;
            }
        }
    }
    tr.highlight:hover {
        td {
            background: #F1FFDD;
            cursor: pointer;
        }
    }
}

/*  Breadcrumb */
.breadcrumb {
    padding-top: 0;
     padding-bottom: 0;
    li:last-child {
        &:before {
            color: @theme-color-hover;
        }
        a {
            color: @theme-color-hover;
        }
    }
}
/*  PAGINATION STYLE */

.paginations {
    border-top: 1px solid @pagination-border;
    padding-top: 8px;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    .links {
        float: left;
        a,b{
             border: 1px solid @pagination-border;
        }
        a {
            display: inline-block;
            border-left-width: 1px;
            .rounded-corners(4px);
            padding:  @padding-base-vertical @padding-base-horizontal;
            text-decoration: none;
            color: #A3A3A3;

            &:hover{
                 background-color: @pagination-active-bg;
                 color: @pagination-active-color;
            }
        }
        b {
            display: inline-block;
            border-left-width: 1px;
            .rounded-corners(4px);
            padding:  @padding-base-vertical @padding-base-horizontal;
            font-weight: normal;
            text-decoration: none;
            color: @pagination-active-color;
            background-color: @pagination-active-bg;
        }
    }
    .results {
        float: right;
        padding-top: 22px;
    }
}

/* button */
input.button {
    margin: 0;
    border: 0;
    height: 35px;
    padding: 0px 20px;
}
.button, input.button {
    cursor: pointer;
    color: #FFFFFF;
    background-color: @theme-color;
    .rounded-corners( 0 );
    .box-shadow(none);
    .transition( all 0.4s ease 0s);
}
.button:hover, input.button:hover {
    .box-shadow ( 0 0 0 30px @theme-color-hover inset);
    color: #fff;
}
a.button {
    display: inline-block;
    text-decoration: none;
    padding: 8px 12px 10px;
}



.buttons {
    background:@btn-wrap-bg;
    border: 1px solid @btn-wrap-border;
    overflow: auto;
    padding: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    .center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .right {
        float: right;
        text-align: right;
    }
    .left {
        float: left;
        text-align: left;
    }
}

/* tab style */
.htabs {
    border-bottom: 1px solid #DDDDDD;
    a {
        padding: @htab-nav-padding;
        float: left;
        font-size: @font-size-base + 4;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        color: @htab-nav-color;
        margin-right: 2px;
        margin-bottom: -1px;
        display: none;
    }
    a.selected {
        padding-bottom: 7px;
        background: @htab-bg-selected;
        color:@htab-nav-selected-color;
    }
}

.tab-content {
	padding: @theme-padding 0;
	margin-bottom: @theme-margin;
	z-index: 2;
 
}
/* carousel */
.carousel-controls {
    position: absolute;
    top: 10px;
    right: 0;
    width: 45px;
    height: 20px;
    .carousel-control {
        font-size: @font-size-base + 5;
        border: 1px solid #dfdfdf;
        width: 20px;
        color: #c7c7c7;
        .rounded-corners(2px);
        &:hover{
            border: 1px solid @theme-color;   
            color: @theme-color;
        }
    }
}
.carousel-control {
    text-shadow: none;
    &.left {
    #gradient > .horizontal(@start-color: transparent; @end-color: transparent);
    }
    &.right {
    #gradient > .horizontal(@start-color: transparent; @end-color: transparent);
    }
}

/* links style */

ul.links {
    position: relative;
    margin: 0;
    padding: 0;
    li{
        display: inline-block;
        margin-right: 15px;
        line-height: @line-height-base;
        > a {
            span {
                font-size: @font-size-base + 1;
                margin-right: 10px;
            }
        }
    }
}

ul.list{
    > li {
        padding: 8px 0 8px;
        ul {
            display: none;
            & > li {
                padding: 10px 0 0px 25px;
                & > a {
                    text-decoration: none;
                    display: block;
                }
                & > a.active {
                }
            }
        }
        > a {
            text-decoration: none;
            text-transform: uppercase;
            background: url('@{image-theme-path}arrow-li.png') no-repeat left 3px;
            padding-left: 15px;
            &:hover ,&.active {
                background-position: left -45px;
            }

        }
        a {
            &:hover,&.active{
                .badge {
                    background-color: @theme-color-hover;
                }
            }
        }
        a.active {
            color: @theme-color-hover;
            + ul {
                display: block;
            }
        }
    }
}