
@font-face {
    font-family: 'robotoslab';
    src: url('@{icon-font-path}robotoslab-regular.eot');
    src: url('@{icon-font-path}robotoslab-regular.eot?#iefix') format('embedded-opentype'),
         url('@{icon-font-path}robotoslab-regular.woff') format('woff'),
         url('@{icon-font-path}robotoslab-regular.ttf') format('truetype'),
         url('@{icon-font-path}robotoslab-regular.svg#robotoslab') format('svg');
    font-weight: normal;
    font-style: normal;

}