/******************************************************
 * @package Pav Opencart Theme Framework for Opencart 1.5.x
 * @version 1.1
 * @author http://www.pavothemes.com
 * @copyright	Copyright (C) Augus 2013 PavoThemes.com <@emai:pavothemes@gmail.com>.All rights reserved.
 * @license		GNU General Public License version 2
*******************************************************/
#page{
    margin: 0 auto;
}

body{
    &.layout-boxed-md{
        #page{  max-width: @container-desktop; .box-shadow(0 0 5px #888); }
    }
    &.layout-boxed-lg{
        #page{  max-width: @container-lg-desktop; .box-shadow(0 0 5px #888); }
    }
    &.fullwidth{ }
    
 }   
/*
 * HEADER 
 */
 
#topbar  {
    color: @topbar-color;
    font-size: @topbar-font-size;
    background: @topbar-bg;
    padding: 10px 0;
    ul {
        li {
            a {
                font-size: @topbar-font-size;
                color: @topbar-link-color;
            }
            &:before{
                color:lighten(@topbar-link-color,20%);
            }
            &:hover a{
                color: @topbar-link-hover-color;   
            }
        }
        
    }

  .show-mobile{        
        .clearfix();     
        > div{
            margin: 0;
            padding: 0;
            position: relative;
            &:hover{
                .inner-toggle{
                    display: block;                    
                }
            }
        }
        .quickaccess-toggle{
            .size(35px, 35px);            
            background-color: #997747;
            color: @white;
            line-height: @line-height-computed + 18;
            text-align: center;
            font-size: @font-size-base + 4;
            cursor: pointer; 
            margin-left: 1px  ;
            &:hover {
                color: @white;
                background-color: #9A8362;
            }                     
        }
        .inner-toggle{
            display: none;
            position: absolute;
            background: @white;
            right: 0;
            top: 100%;
            min-width: 170px;
            padding: (@padding-base-vertical * 2) - 2 ;
            z-index: 99999;
            border-top: 5px solid @theme-bg-hover;
            border-right: 1px solid @theme-border-color; 
            border-left: 1px solid @theme-border-color; 
            border-bottom: 1px solid @theme-border-color;            
        }  
        ul,& .links{
            float: none;
            padding: 0;
            margin: 0;
            text-align: left;
            li{
                float: none;
                display: block;                                             
            }
            a{
                float: none;
                margin: 0;
                padding: 0;
                line-height: @line-height-computed + 5;   
                background-color: transparent;
                color: @theme-link-color;
                border: none;
                &:hover {
                    color: @theme-link-color-hover;
                }
            }
        }  
        #search-mobile{            
            padding-bottom: 0;
            padding-top: 0;
            position: relative;
            right: 0;
            top: 0;
            margin: 0;
        }       
        .currency,.language{
            margin: 0 5px;
            .dropdown-menu{
                left:0;
                right: auto;
            }
            button {
                .rounded-corners (5px);
                height:  30px;
                padding: 0 10px;
            }
        }
    }
}
#header {
    background:@header-main-bg;
}

#header-main{
    .header-wrap > div{
        height: @header-main-height;
    }
    .inner{
        display:table;
        position: relative;
        height: 100%;
        & > *{
            display: table-cell;
            vertical-align: middle;
        }
    }
    #logo{
        padding:18px 32px 14px 0; 
    }
    #logo-theme{
        a{
            background: url("@{image-theme-path}logo.png") no-repeat;
            display: block;
            .size(233px, 56px);
            span{
                display: none;
            }
        }
    }
}
 
/*
 * NAVIGATION
 */

#pav-mainnav {
    margin-bottom: @theme-margin;
    .mainnav-wrap {
        background: @mainnav-wrap-bg;
    }
}

/*
 * SLIDESHOW 
 */
#pav-slideshow {}

/*
 * SHOWCASE 
 */
#pav-showcase {}

/*
 * PROMOTION TOP 
 */
#pav-promotion {}
/*
 * MAIN CONTENT
 */  
#content {
    min-height: 400px;
    margin-bottom: 25px;
}

.sidebar  [class*="col-"] {
    width: 100%
}
/* FOOTER s*/
 

#footer {
    background: @footer-bg;
    .clearfix();
    min-height: 100px;
    .box { 
        .box-heading{ 
            color: @footer-heading-color;
            font-size: @footer-heading-font-size + 4;
            padding: 0;
            background:  none;
            border-bottom:  none;
            span:before {
                border-bottom:  none;;
            }
        }
        .box-content{
            padding: 0;
        }
    } 
    .footer-top{
        padding-top:  @footer-padding;
        padding-bottom: @footer-padding - 15;
        background-color: @footertop-bg;
        a {
            color: @footertop-link;
        }
    }
    .footer-center{
        padding-top:  @footer-padding;
        padding-bottom: @footer-padding - 15;
        .box-heading span span {
            color: #3B3B3B;
        }
    }
    .footer-bottom{
        padding-top:  @footer-padding;
        padding-bottom: @footer-padding - 15;
    }
    h3 {
        color: @footer-heading-color;
        font-size: @footer-heading-font-size;
        margin-top: 0px;
        margin-bottom: 8px;
    }
    .column {
        a {
            text-decoration: none;
            color: @footer-link-color;
            .transition ( padding 0.5s ease 0s);
            &:hover {
                color:@footer-link-hover-color;
                padding-left: 10px;
            }
        }
        ul {
            li {
                margin-bottom: 10px;
                padding-bottom: 5px; 
                padding-top: 0;
                overflow: hidden;
                a {
                    background: none;
                    padding-left: 0;
                    text-transform: none;
                }
            }
        }
    }
}

/* POWER BY */
#powered {
    clear: both;
    background: @power-bg;
    padding: @power-padding 0; 
    color: @power-text-color ;
    a {
        color: @power-link-color;
        &:hover {
            color: @power-link-color-hover;
        }
    }
}


.banner {
    div {
        text-align: center;
        width: 100%;
        display: none;
        img {
            margin-bottom: 20px;
        }
    }
}
