
/******************************************************
 * @package Pav Opencart Theme Framework for Opencart 1.5.x
 * @version 1.1
 * @author http://www.pavothemes.com
 * @copyright	Copyright (C) Augus 2013 PavoThemes.com <@emai:pavothemes@gmail.com>.All rights reserved.
 * @license		GNU General Public License version 2
*******************************************************/

#pav-mainnav { 
	 position:relative;

	 .dropdown{
		&:hover > .dropdown-menu{
			display: block;
		}
	}

	 .navbar {
		border: none;
		.navbar-collapse {
			 padding-left: 0;
			 padding-right: 0;
		}
		ul.nav{
			 &  > li:hover > a {
				background: none;
				background-color: @theme-color-secondary;
				&:before {
				   width: 100%;
				    .opacity(1);
				}
			}
		 	& > li  > a {
				text-transform: uppercase;
				font-size:@font-size-base + 3;	
				z-index: 0;
				overflow: hidden;
				&:before {
				    background-color: @theme-color-secondary;
				   height: 100%;
				    left: 50%;
				    .opacity(0);
				    top: 50%;
				    .translate(-50%; -50%);
				    width: 0;
				    content: "";
				    position: absolute;
				    .transition(all 0.3s ease 0s);
				    z-index: -1;
				}
		 	}
		}
	 }	

	.dropdown-menu li a {
		background: url('@{image-theme-path}circle-li.png') no-repeat 10px 10px;
		padding: 3px 0 3px 20px;
		&:hover {
			background-position:  10px -29px;
			color: @mainnav-color-hover;
		}
	}
	 .navbar-inverse .navbar-nav {
	    > .open{
		    	> a {      
		    	background-color: @theme-color-secondary;
			   
			}
	    } 
	}
}


.pav-megamenu {
	.dropdown-menu {
		& > .dropdown-menu-inner {
			padding: 10px; 
		}
	}
	.mega-group {
		.caret{
			display: none;
		}
		& > .dropdown-toggle {
			display: block;
			font-weight: bold;
			padding: 6px 5px;
			text-transform: uppercase;
			border-bottom: solid 1px #E5E5E5 
		}
		
		.dropdown-mega { 
			 .mega-col-inner {
				& > ul > li  {
					a {
						margin-left: 6px; 
					}	
				}
			}
		}
	}
	.mega-col {
		  .mega-col-inner{
			& > ul{
				  list-style: none outside none;
				  margin: 0;
				  padding: 0;
				  & > li {
				  		list-style: none;
				  		margin-left: 0;
				  		& > a {
							clear: both;
							color: #555555;
							display: block;
							line-height: 20px;

				  		}
				  }
			}
		}
	}
 

	.dropdown-submenu {
		&:hover{
			> .dropdown-menu{
				display: block;
			}
		}
		& > .dropdown-menu {
		    border-radius: 0 6px 6px 6px;
		    left: 100%;
		    margin-left: -6px;
		    margin-top: -6px;
		    top: 0;
		}
	}
	.cols2{ width: 420px; }
	.cols3{ width: 620px; }
	.cols4{ width: 820px; }
}

.megamenu .menu-icon{
	background-position: left center !important;
    display: block;
    padding-left: 30px;
}