/******************************************************
 * @package Pav Opencart Theme Framework for Opencart 1.5.x
 * @version 1.1
 * @author http://www.pavothemes.com
 * @copyright   Copyright (C) Augus 2013 PavoThemes.com <@emai:pavothemes@gmail.com>.All rights reserved.
 * @license     GNU General Public License version 2
*******************************************************/

/* language */
.language {
     line-height: @line-height-base;
    img {
        cursor: pointer;
        margin-right: 5px;
        margin-left: 5px;
    }
}

/* currency */
.currency {
    display: inline-block;
    line-height: @line-height-base;
    a {
        text-decoration: none;
        margin-right: 5px;
        margin-left: 5px;
        cursor: pointer;
        font-size: @font-size-base + 1;
        &:hover{
            color: @theme-color;
        }
        b {
            color: @white;
            text-decoration: none;
            background-color: @theme-color;
            padding: 1px 10px;
            .rounded-corners( 3px );
        }
        &:hover b {
            background-color: @theme-color-hover;
        }
    }
}


/* cart info */
#header {
    #cart {
        position: relative;
        z-index: 1003;
        .content {
            background: @white;
            clear: both;
            display: none;
            min-height: 150px;
            min-width: 300px;
            padding: 8px;
            position: absolute;
            right: 0;
            border: 1px solid @gray-lighter;
            .rounded-corners( 5px ); 
            .box-shadow(  0px 2px 2px @gray-lighter );
            z-index: 20;
        }
        
        .heading {
            z-index: 1;
            a {
                text-decoration: none;
                span {
                    background-position: 100% 50%;
                    background-repeat: no-repeat;
                    padding-right: 15px;
                    font-size:@font-size-base + 1;
                    text-transform: uppercase;
                }
            }
            h4 {
                margin: 0;
                text-transform: uppercase;
                font-size:@font-size-base + 3;
            }
        }
        > span {
            .rounded-corners( 20px );
            color: @white;
            float: left;
            font-size: @font-size-base + 7;
            height: 34px;
            line-height: 34px;
            text-align: center;
            width: 34px;
            margin-right: 7px;   
            .box-shadow( 0 0 0 3px @theme-color);
            position: relative;
            z-index: 1;
            display:  inline-block;
            &:hover{
                color: @theme-color;
                color: #fff \9;
            }
            &:after{
                .rounded-corners( 20px );
                background: repeat scroll 0 0 @theme-color;
                left: -2px;
                padding: 2px;
                top: -2px;
                .transition ( all 0.4s ease 0s);
                .box-sizing(content-box);
                content: "";
                height: 100%;
                pointer-events: none;
                position: absolute;
                width: 100%;
                z-index: -1;
                .opacity (1);
            }
            &:hover:after{
                .opacity (0);
                .scale (0);
                .transition (all 0.4s ease 0s);
            }
        }
    }
    #cart.active {
        .content {
            display: block;
        }
        .heading {
        }
    }
}

#header {
    #cart {
        .checkout {
            text-align: right;
            clear: both;
        }
        .empty {
            padding-top: 50px;
            text-align: center;
        }
    }
}


.mini-cart-total {
    text-align: right;
    td {
        color: #000;
        padding: 4px;
    }
    table {
        border-collapse: collapse;
        display: inline-block;
        margin-bottom: 5px;
    }
}
.mini-cart-info {
    .quantity {
        text-align: right;
    }
    .name {
        small {
            color: #666;
        }
    }
    td {
        color: #000;
        vertical-align: top;
        padding: 10px 5px;
        border-bottom: 1px solid @table-border-color;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 5px;
    }
    .image {
        img {
            border: 1px solid @table-border-color;
            text-align: left;
        }
    }
    .remove {
        text-align: right;
        img {
            cursor: pointer;
        }
    }
    td.total {
        text-align: right;
        color: @theme-color-secondary;
        font-weight: bold;
    }
}


/* 
 * search module 
 */

#search, #search-mobile {
    margin: 10px;
    position: relative;
    width: 250px;
    input {
        background-color: #9a8362;
        padding:5px 30px 5px 10px;
        border: none;
        width: 250px;
        height:  30px;
        line-height: 30px;
        color: #dacbb7;
        margin: 0;
    }
    .button-search {
        color: #FFFFFF;
        cursor: pointer;
        height: 30px;
        line-height: 30px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 30px;
        background: url('@{image-theme-path}icon-search.png') no-repeat center center scroll;
    }
}   


/* 
 * box products 
 */

.product-block  {
    .rating, .norating {    
        margin: 12px 0;
        padding: 7px 0;
        font-size: @font-size-base - 5;
    }
    overflow: hidden;
    border: 1px solid transparent;
    padding: 10px;
    &:hover {   
        border: 1px solid @product-boder-color;
        .image {
            border-bottom: 2px solid transparent;
            .img:after {
                .opacity (0.7);
                .transition ( all 0.6s ease-in-out 0s);
            }
        }
        .product-meta{
            .wishlist {
                .opacity (1);
                left: 0;
            }
            .compare{
                right: 0;
                .opacity (1);
            }
        }
        .cart {
            input {
                .box-shadow ( 0 0 0 30px @theme-color-hover inset);
                background-color: @theme-color-hover;
            }
        }
        .product-zoom{
            .opacity(1);  
            height:35px;
            line-height:35px;
            width:35px;    
            font-size: @font-size-base + 2; 
        }
        .pav-colorbox {        
            .opacity(1);  
            height: 30px;
            line-height: 30px;
            width:80px;    
            font-size: @font-size-base; 
        }
    }
    .compare, .wishlist {
        .opacity (0);
        width: 50%;
        position: absolute;
        top: -32px;
        .transition( all 0.4s ease 0s);
        z-index: 6;
        a {
            color:@product-action-link-color;
            cursor: pointer;
            text-decoration: none;
            display: block;
            background-color: @product-action-bg;
            line-height: 30px;
            text-align: center;
            font-size: @font-size-base + 2;
            .transition( all 0.4s ease 0s);
            &:hover {
                color:@product-action-link-color;
                .box-shadow ( 0 0 0 30px  @product-action-hover-bg inset);
            }
            span {
                display: none;
            }
        }
    }
    .product-meta {
        position: relative;
        .wishlist { 
            left: -50%;
            a {
            margin-right: @product-margin ;
            }
        }
        .compare {
            right: -50%; 
            a {
            margin-left: @product-margin ;
            }
        }
    }
    a:hover{
         
    }
    .description {
        margin-bottom: @product-margin;
        display:  none;
    }
    .rating {
        display: block;
        margin-bottom: @product-margin;
    }
    .cart {
        margin-bottom: @product-margin;
        input {
            text-transform: uppercase;
        }
    }
    .name {
            font-size: @product-name-font-size;
            text-transform:  uppercase;
            text-decoration: none;
            display: block;
            margin-bottom: 4px;
    }
    .image {
        display: block;
        margin-bottom: 0px;
        position: relative;
        border-bottom: 2px solid @product-boder-color;
        padding-bottom: @product-padding + 10;
        text-align: center;
        .img:after {
            position: absolute;
            content: "";
            left:  0;
            top: 0;
            background-color: rgba(255, 255, 255, 0.55);
            height: 100%;
            opacity: 0;
            width: 100%;
            z-index: 5;
            text-align: left;
        }
        .img{
            transform: rotateX(0deg) rotateY(0deg);
            -webkit-transform: rotateX(0deg) rotateY(0deg);
            -moz-transform: rotateX(0deg) rotateY(0deg);
            transform-style: preserve-3d;
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            .backface-visibility(hidden);
            .transition( all 0.6s ease-in-out); 
            img {
                display: block;
                width: 100%;
            }           
        }
        .hover-image{       
            position: absolute;
            text-align: center;
            top: 0;          
            width: 100%;
            left: 0;
            transform: rotateY(-180deg);
            -webkit-transform: rotateY(-180deg);
            -moz-transform: rotateY(-180deg);
            transform-style: preserve-3d;
            -webkit-transform-style: preserve-3d;            
            -moz-transform-style: preserve-3d;
            .backface-visibility(hidden);
            .transition( all 0.6s ease-in-out);
            .img:after {
                display: none;
            }
            visibility: hidden;
            opacity: 0;
        }
        &:hover{
            .hover-image{               
                transform: rotateX(0deg) rotateY(0deg);
                -webkit-transform: rotateX(0deg) rotateY(0deg);
                -moz-transform: rotateX(0deg) rotateY(0deg);
                .transition ( all 0.6s ease-in-out 0s);
                visibility: visible;
                opacity: 1;
            }
        }

    }

    .price-old {
        color: @product-price-old-color;
        text-decoration: line-through;
        font-size: @font-size-base + 2;
    }
    .price-new {
    }
    .price {
        display: block;
        color: @product-price-color;
        font-size: @font-size-base + 6;
        margin-bottom: @product-margin;
        .price-tax {
            display: none;
        }
    }

    .product-label-special{
        background: @product-label-special-color;
        font-size: @font-size-base;
        width: 41px; 
        height: 41px; 
        top:10px; 
        right:10px; 
        display: block; position: absolute;
        .rounded-corners(20px);
        text-transform: uppercase;
        line-height: @line-height-base * 2.4;
        padding: 0;
        font-weight:  normal;
        z-index: 9;
        &:before {
            .arrow-border-no-top( 7px; @product-label-special-color );
            bottom:2px;
            left:0px;
            content: "";
            display: inline-block;
            position: absolute;
            z-index: 0;
        }
    }
    .product-zoom{
        .rounded-corners(25px);
        top:38%;
        left:38%; 
            height: 0;
            line-height: 8px;
            width: 0; 
        position: absolute;
        display: inline-block;
        text-align: center;
        z-index: 10;
        .opacity(0);
        background-color: @theme-color; 
        color: @product-action-link-color;
        font-size: 0; 
        .transition( all 0.5s ease 0s);
        &:hover {
            color: @product-action-link-color;

        }
        &:after {
            left: 0;
            padding: 0;
            top: 0;
            .transition( all 0.4s ease 0s);
            -moz-box-sizing: content-box;
            .rounded-corners(50%);
            content: "";
            height: 100%;
            pointer-events: none;
            position: absolute;
            width: 100%;
        }
    }
    .pav-colorbox {
        .rounded-corners(0);
        top:0;
        left:0; 
        height: 0;
        line-height: 8px;
        width: 0; 
        position: absolute;
        display: inline-block;
        text-align: center;
        z-index: 10;
        .opacity(0);
        background-color: @theme-color; 
        color: @product-action-link-color;
        font-size: 0; 
        .transition( all 0.5s ease 0s);
        &:hover {
            color: @product-action-link-color;

        }
        &:after {
            left: 0;
            padding: 0;
            top: 0;
            .transition( all 0.4s ease 0s);
            -moz-box-sizing: content-box;
            .rounded-corners(50%);
            content: "";
            height: 100%;
            pointer-events: none;
            position: absolute;
            width: 100%;
        }
    }
}
.sidebar {
    .product-block{
        border: none;
        &:hover{
            border: none;
        }
    }
    .product-meta {
         position: inherit;
    }
    .image {
        float: left;
        margin-right: @product-margin; 
        border-bottom: none;
        padding-bottom: 0;
    }
    & .wishlist , & .compare, & .cart {
        display: none;
    }
    .name {
        max-height:  30px;
        overflow: hidden;
    }
    .product-label-special{
        font-size: @font-size-base - 1;
        width: 30px; 
        height: 30px; 
        top:-10px; 
        right:-10px; 
        .rounded-corners(20px);
        text-transform: none;
        line-height:30px;
    }
}
/* 
 * box category 
 */
ul.box-category, ul.box-category ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* box filter */
ul.box-filter, ul.box-filter ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.box-filter {
    & > li {
        ul {
            padding-bottom: 10px;
        }
    }
    span {
        font-weight: bold;
        border-bottom: 1px solid @gray-lighter;
        display: block;
        padding-bottom: 5px;
        margin-bottom: 8px;
    }
}
/* popup */
#colorbox *:before, #colorbox *:after {
  -moz-box-sizing:inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;

}
/* zoom function in product page */
.zoomContainer { 
    .zoomLens{
        border-color:@gray-light !important;
    }
    .zoomWindow{
        border:4px solid @gray-lighter !important;
        display: none;
    }
}

/* 
 *
 */
 .social-links {
    
 }

 #scrollUp {
  bottom: 0px;
  right: 30px;
  width: 70px;
  height: 70px;
  margin-bottom: -10px;
  padding: 10px 5px;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  color: #828282;
  -webkit-box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
  box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
  background-color: #E6E6E6;
  background-image: -moz-linear-gradient(top,#EBEBEB,#DEDEDE);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#EBEBEB),to(#DEDEDE));
  background-image: -webkit-linear-gradient(top,#EBEBEB,#DEDEDE);
  background-image: -o-linear-gradient(top,#EBEBEB,#DEDEDE);
  background-image: linear-gradient(to bottom,#EBEBEB,#DEDEDE);
  background-repeat: repeat-x;
  -webkit-transition: margin-bottom 150ms linear;
  -moz-transition: margin-bottom 150ms linear;
  transition: margin-bottom 150ms linear;
}
#scrollUp:hover {
  margin-bottom: 0px;
}