/******************************************************
 * @package Pav Opencart Theme Framework for Opencart 1.5.x
 * @version 1.1
 * @author http://www.pavothemes.com
 * @copyright	Copyright (C) Augus 2013 PavoThemes.com <@emai:pavothemes@gmail.com>.All rights reserved.
 * @license		GNU General Public License version 2
*******************************************************/

/* category */
#content h1 {
    margin-top:0;
    border-bottom:@heading-border;
    margin-bottom: @theme-margin - 5; 
    padding-bottom:  @theme-padding - 5;
    position: relative;
    &:after {
        border-bottom: @heading-hightlight-border;
        position: absolute;
        content: "";
        bottom: -2px;
         left: 0;
         width: 10%;
    }
}
.category-list {
    margin-top: @product-margin;
    margin-bottom: @product-margin + 10;
    ul {
        float: left;
        list-style: disc outside none;
        padding-left: 15px; 
        li {
             padding:  3px;
        }
    }
}
.category-info {
    position: relative;
    .image {
        margin-bottom: @product-margin + 10;  
    }
    .description {
        margin-bottom: @product-margin + 10; 
    }
}
/* manufacturer */
.manufacturer-heading {
    background: #F8F8F8;
    font-size: @font-size-base + 3;
    font-weight: bold;
    padding: 5px 8px;
    margin-bottom: @product-margin;
}
.manufacturer-list {
    border: 1px solid #DBDEE1;
    padding: 5px;
     
    margin-bottom: @product-margin + 10;
    ul {
        float: left;
        width: 25%;
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: @product-margin;
    }
}
.manufacturer-content {
    padding: 8px;
    overflow: auto;
}

/* 
 *  LISTING PRODUCTS PAGE 
 */
.product-filter {
    padding: 5px 0;
    margin-bottom: @product-margin + 10;
    .product-compare{
        float: right;
        padding-top: 3px;
    }
    .sort {
        float: right;
    }
    .limit {
        margin-left: @product-margin;
        float: right;
    }
    .display {
        margin-right: @product-margin;
        float: left;
        padding-top: 4px;
        a {
            font-size: @font-size-base + 2;
            border: 1px solid @btn-wrap-border;
            .rounded-corners ( 4px );
            .box-shadow(0 1px 1px rgba(0, 0, 0, 0.075) inset);
            margin-left:  @product-margin;
             background: url('@{image-theme-path}icon-grid-list.png') no-repeat 0 0 scroll;
             width: 35px;
             height: 31px;
             display:  inline-block;
           & > em {
                display: none;
           }
           &.grid{
             background-position: 9px 8px;
               &.active, &:hover {
                    color:@theme-color;
                    background-position: 9px -29px;
               }
           }
           &.list {
            background-position: -28px 8px;
               &.active, &:hover {
                    color:@theme-color;
                    background-position: -28px -29px;
               }
           }
        }
        span {
             line-height: 30px;
        }
    }
    .form-control {
        display: inline-block;
        width: auto;
    }
}

.review-form-width {
    margin: 10% auto;
    max-width: 600px;
    position: relative;
}

/* product list mode  */
.product-list {
    .product-cols{
        width: 100%;   
    }
    .product-block {
        padding: 0;
        &:hover {
             border: 1px solid transparent;
        }
    }
    .product-meta{
        .wishlist , .compare {
            .opacity (1);
            position: relative;
            top: inherit;
            left: 0;
            width: auto;
            display: flex;
            a {
                color: @link-color;
                background-color: transparent;
                display:  inline-block;
                margin: 0;
                &:hover {
                 color: @theme-color-hover;
                 background-color: transparent;
                .box-shadow (none);
                }
                span {
                    padding-left:  5px;
                    display: inline-block;
                }
            }
            .tooltip {
                .opacity(0);
            }
        }
    }
    &:hover .product-meta{
        .wishlist {
            left: 0;
        }
        .compare{
            right: 0;
        }
    }

    .price-old {
        text-decoration: line-through;
    }
    .cart {
        margin-bottom: 3px;
    }
    .price-tax {
        font-weight: normal;
        color: @product-price-tax;
    }
    .name {
        margin-bottom: @product-margin - 7;
        a {
            font-weight: bold;
            text-decoration: none;
        }
    }
    .image {
        float: left;
        margin-right: @product-margin ;
        padding-bottom: 0;
        border-bottom: 2px solid transparent; 
        width: 24%;
        img {
            padding: 3px;
            border: 1px solid @product-boder-color;
            width: 100%;
        }
    }
    .description {
        display:  block;
    }
    .right {
        float: right;
        margin-left: @product-margin + 5;
    }
    & > div {
        margin-bottom: @product-margin + 5;
    }
}

/* product grid mode */
.product-grid {
    position: relative; 
}
/* 
 * PRODUCT INFORMATION PAGE
 */
.product-info {
    margin-bottom: @product-margin + 10;
    .cart {
        .minimum {
            padding-top: 5px;
            font-size: @font-size-base - 1 ;
            color: #999;
        }
        .links {
            display: inline-block;
            vertical-align: middle;
        }
        div {
            & > span {
                color: #999;
            }
        }
    }
    & > .left {
        float: left;
        margin-right: @product-margin + 5;
        .right {
            margin-left: 265px;
        }
    }
    .image {
        border: 1px solid @product-boder-color;
        position:relative;
        margin-bottom: @product-margin + 10;
        padding: 10px;
        text-align: center;
    }
    .product-label-special {
        background: @product-label-special-color;
        font-size: @font-size-base;
        width: 41px; 
        height: 41px; 
        top:10px; 
        right:10px; 
        display: block; position: absolute;
        .rounded-corners(20px);
        text-transform: uppercase;
        line-height: @line-height-base * 2.4;
        padding: 0;
        font-weight:  normal;
        &:before {
            .arrow-border-no-top( 7px; @product-label-special-color );
            bottom:2px;
            left:0px;
            content: "";
            display: inline-block;
            position: absolute;
            z-index: 10;
        }
    }
    .quantity-adder {
        margin-bottom: @product-margin;
        font-size: @font-size-base + 4;
        position: relative;
        input {
            padding-left: @product-padding;
            padding-right: @product-padding;
            margin-right: 2px;
            font-size: @font-size-base + 4;
            height: 39px;
        }
        span {
            font-size:  @font-size-base + 6;
            cursor: pointer;
            position: absolute;
            line-height: 1;
            width: 19px;
            height: 19px;
            background-color: #e8e8e8;
            .rounded-corners ( 2px );
            text-align: center;
            color: #fff;
            &.add-up {
                
            }
            &.add-down {
                font-size: @font-size-base + 8;
                top: 20px;
            }
        }
    }
    .product-action {
        margin-bottom: @product-margin;
        input{
            text-transform: uppercase;
        }
        .wishlist ,.compare {
            background-color: @product-action-bg;
            font-size: @font-size-base + 2;
            display:  inline-block;
            margin-left: @product-margin - 5;
            &:hover {
                background-color: @product-action-hover-bg;
            }
            a {
                color: @product-action-link-color; 
                line-height: @product-lineheight + 12;
                display:  inline-block;
            padding: 0 @product-padding + 10;
            }
            span {
                display: none;
            }
        }
    }
    .price {  
        margin-bottom: @product-margin;
        font-size: @font-size-base + 8; 
        color: @product-price-color; 
        .price-old {
            text-decoration: line-through;
            font-size: @font-size-base + 2;
            color: @product-price-old-color;
        }
        .reward {
            font-size: @font-size-base;
        }
        .discount {
            font-size: @font-size-base;
        }
        .price-tax {
            font-size: @font-size-base;
            color: @gray-light;
        }
    }
    .description {
        margin-bottom: @product-margin;
        line-height: @product-lineheight;
        a {
            text-decoration: none;
        }
        span {
            font-weight: bold;
            padding-right: @product-padding;
        }
    }
    .image-additional {
        clear: both;
        overflow: hidden;
        padding: 0 @theme-padding + 10;
        a {
            float: left;
            display: block;
            margin-bottom: @product-margin;
        }
        img {
            border: 1px solid @product-boder-color;
        }
        .carousel-control {
            font-size: @font-size-base + 28;
            top:  25px;
            cursor: pointer;
        }

    }
    .item a{
        margin-left: @product-margin;
        &:first-child{
            margin-left: 5px;
        }
    }
    .option-image {
        margin-top: 3px;
        margin-bottom: @product-margin;
        label {
            display: block;
            width: 100%;
            height: 100%;
        }
        img {
            margin-right: @product-margin;
            border: 1px solid @product-boder-color;
            cursor: pointer;
        }
    }
    .option {
        margin-bottom: @product-margin;
    }
    .review {
            margin-bottom: @product-margin ;
        & > div {
            line-height: @product-lineheight;
            & > span {
            }
        }
    }
    .share {
        margin-bottom: @product-margin;
        line-height: normal;
        a {
            text-decoration: none;
        }
    }
}
.form-review {
    .option {
        margin-bottom: @product-margin;
    }
}
#related{
    .carousel-controls {
        top: -50px;
    }
    .item{
        padding: 0 @product-padding;
    }
}
/**
 *
 */
.review-list {
    padding: @theme-padding; 
    margin-bottom: @theme-margin;
    border: 1px solid @product-boder-color;
    .rating {
        float: right;
        margin-bottom: @theme-margin + 10;
    }
    .author {
        float: left;
        margin-bottom: @theme-margin + 10;
    }
    .text {
        clear: both;
    }
}

/* attribute */

.attribute thead td, .attribute thead tr td:first-child {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    background: #F7F7F7;
    text-align: left;
}
.attribute {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid @table-border-color;
    border-left: 1px solid @table-border-color;
    margin-bottom: 20px;
    td {
        padding: 7px;
        color: #4D4D4D;
        text-align: center;
        vertical-align: top;
        border-right: 1px solid @table-border-color;
        border-bottom: 1px solid @table-border-color;
    }
    tr {
        td:first-child {
            color: #000000;
            font-weight: bold;
            text-align: right;
            width: 20%;
        }
    }
}

.compare-info {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid @table-border-color;
    border-left: 1px solid @table-border-color;
    margin-bottom: 20px;
    .price-old {
        font-weight: bold;
        color: #F00;
        text-decoration: line-through;
    }
    .price-new {
        font-weight: bold;
    }
    .name {
        a {
            font-weight: bold;
        }
    }
    td {
        padding: 7px;
        width: 20%;
        color: #4D4D4D;
        text-align: center;
        vertical-align: top;
        border-right: 1px solid @table-border-color;
        border-bottom: 1px solid @table-border-color;
    }
    tr {
        td:first-child {
            color: #000000;
            font-weight: bold;
            text-align: right;
        }
    }
}
.compare-info thead td, .compare-info thead tr td:first-child {
    color: #000000;
    font-size: @font-size-base + 2;
    font-weight: bold;
    background: #F7F7F7;
    text-align: left;
}

/* 
 * WISHTLIST PAGE 
 */

.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
    text-align: right;
}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
    text-align: left;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
    text-align: right;
}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
    text-align: left;
}
.wishlist-info {
    thead {
        td {
            color: #4D4D4D;
            font-weight: bold;
            background-color: #F7F7F7;
            border-bottom: 1px solid @table-border-color;
        }
        .image {
            text-align: center;
        }
    }
    tbody {
        td {
            vertical-align: top;
            border-bottom: 1px solid @table-border-color;
        }
        .action {
            img {
                cursor: pointer;
            }
        }
        .image {
            text-align: center;
            img {
                border: 1px solid @table-border-color;
            }
        }
        .price {
            s {
                color: @product-price-color;
            }
        }
    }
    td {
        padding: 7px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        border-top: 1px solid @table-border-color;
        border-left: 1px solid @table-border-color;
        border-right: 1px solid @table-border-color;
        margin-bottom: 20px;
    }
}


/**
 * LOGIN PAGE
 */
.login-content {
 
}
 
/* 
 * ORDERS PAGE 
 */
.order-list {
    margin-bottom: 10px;
    .order-status {
        width: 49%;
        float: right;
        text-align: right;
        margin-bottom: 2px;
    }
    .order-content {
        padding: 10px 0px;
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
        border-top: 1px solid #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
        div {
            float: left;
            width: 33.3%;
        }
    }
    .order-info {
        text-align: right;
    }
    .order-id {
        width: 49%;
        float: left;
        margin-bottom: 2px;
    }
}
.order-detail {
    background: #EFEFEF;
    font-weight: bold;
}

/* RETURN PAGE
 *
 */
.return-list {
    margin-bottom: 10px;
    .return-content {
        padding: 10px 0px;
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
        border-top: 1px solid #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
        div {
            float: left;
            width: 33.3%;
        }
    }
    .return-id {
        width: 49%;
        float: left;
        margin-bottom: 2px;
    }
    .return-status {
        width: 49%;
        float: right;
        text-align: right;
        margin-bottom: 2px;
    }
    .return-info {
        text-align: right;
    }
}

.return-product {
	 
	margin-bottom: 20px;
    clear:both;
    overflow: auto;
}
.return-name {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-model {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-quantity {
	float: left;
	width: 31%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-captcha {
	float: left;
}


.download-list {
    margin-bottom: 10px;
    .download-status {
        width: 49%;
        float: right;
        text-align: right;
        margin-bottom: 2px;
    }
    .download-id {
        width: 49%;
        float: left;
        margin-bottom: 2px;
    }
    .download-content {
        padding: 10px 0px;
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
        border-top: 1px solid #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
        div {
            float: left;
            width: 33.3%;
        }
    }
    .download-info {
        text-align: right;
    }
}

/* 
 * CART PAGE
 */
.cart-module {
    & > div {
        display: none;
    }
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
    text-align: left;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
    text-align: left;
}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
    position: relative;
    top: 0;
    vertical-align: middle;
    cursor: pointer;
    border:  none;
}
.cart-info tbody .price, .cart-info tbody .total {
    text-align: right;
}
.cart-info {
    thead {
        td {
            color: #4D4D4D;
            font-weight: bold;
            background-color: #F7F7F7;
            border-bottom: 1px solid @table-border-color;
        }
        .image {
            text-align: center;
        }
    }
    tbody {
        td {
            vertical-align: middle;
            border-bottom: 1px solid @table-border-color;
        }
        .image {
            text-align: center;
            img {
                border: 1px solid @table-border-color;
            }
        }
        span.stock {
            color: #F00;
            font-weight: bold;
        }
    }
    td {
        padding: 7px;
    }
    table {
        width: 100%;
        margin-bottom: 15px;
        border-collapse: collapse;
        border-top: 1px solid @table-border-color;
        border-left: 1px solid @table-border-color;
        border-right: 1px solid @table-border-color;
    }
}
.cart-total {
    border-top: 1px solid @table-border-color;
    overflow: auto;
    padding-top: 8px;
    margin-top: 10px;
    margin-bottom: 15px;
    td {
        padding: 3px;
        text-align: right;
    }
    table {
        float: right;
    }
}
.cart-info thead .price, .cart-info thead .total {
    text-align: right;
}

/* 
 * CHECKOUT PAGE
 */
.checkout-heading {
    background: @gray-lighter;
    border: 1px solid @gray-lighter;
    padding: 8px;
    font-weight: bold;
    font-size: @font-size-base + 1;
    color: #555555;
    margin-bottom: 15px;
    a {
        float: right;
        margin-top: 1px;
        font-weight: normal;
        text-decoration: none;
    }
}

.checkout-content {
    padding: 0px 0px 15px 0px;
    display: none;

    .buttons {
        clear: both;
    }
}

.checkout-product tbody .name, .checkout-product tbody .model {
    text-align: left;
}
.checkout-product thead .name, .checkout-product thead .model {
    text-align: left;
}
.checkout-product {
    thead {
        td {
            color: #4D4D4D;
            font-weight: bold;
            background-color: #F7F7F7;
            border-bottom: 1px solid @table-border-color;
        }
    }
    tfoot {
        td {
            text-align: right;
            border-bottom: 1px solid @table-border-color;
        }
    }
    tbody {
        td {
            vertical-align: top;
            border-bottom: 1px solid @table-border-color;
        }
    }
    td {
        padding: 7px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        border-top: 1px solid @table-border-color;
        border-left: 1px solid @table-border-color;
        border-right: 1px solid @table-border-color;
        margin-bottom: 20px;
    }
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
    text-align: right;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
    text-align: right;
}

/*
 * CONTENT INFOMATION
 */
.sitemap-info {
}
#contact-map {
    border: 7px solid #ccc;
    margin-bottom:  25px;
}
.contact-customhtml {
    background: none repeat scroll 0 0 #F0F0F0;
    padding: 20px;
}
.contact-address{ 
    margin-bottom: 25px;
    ul li{
        padding:  10px 0;
        border-bottom: 1px dashed #ccc;
        i {
                color: #888;
            float: left;
            font-size: 25px;
            line-height: 40px;
            text-align: center;
        }
        span {
            display: inline-block;
            padding-left: 15px;
        }
    }
}
.contact-customhtml{ 
    ul li {
        padding: 7px 0;
        i {
            float: left;
            font-size: 20px;
            padding: 8px 5px 6px 10px;
        }
        span {
            display: inline-block;
            padding-left: 5px;
        }
    }
}
#content .content {
    margin:  10px 0;
}
