/******************************************************
 * @package Pav Opencart Theme Framework for Opencart 1.5.x
 * @version 1.1
 * @author http://www.pavothemes.com
 * @copyright	Copyright (C) Augus 2013 PavoThemes.com <@emai:pavothemes@gmail.com>.All rights reserved.
 * @license		GNU General Public License version 2
*******************************************************/

@media only screen and (max-width: 1200px) {
	.gallery a {
		width: auto!important;
	}
}

@media only screen and (max-width: 990px) {
	#logo {
		text-align: center; 
	}
	#header-main {
	    margin-bottom: 10px;
	}
	#header-main .header-wrap > div {
	    height: 60px;
	}

	#pav-mainnav {
		position: absolute!important;
		content: "";
		top: 2px;
		width: 60px;
		height: 60px!important;
		.mainnav-wrap {
			background:transparent;
		}
	}
	.navbar-inverse .navbar-toggle{
		display: block;
		float: none;
		width: 40px;
		height: 35px;
		.rounded-corners (0);
		background-color: #997747;
		border-color: #997747;
		margin-left: 10px;
		.icon-bar {
			width: 18px;
		}

	}
	

	.navbar-collapse.collapse  {
		display:  none !important;
	}

	.navbar-nav > li {
		float: none;
	}
	
	.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
		background-color: #9a8362;
	}
	.zoomContainer {
		display: none !important;
	}
}
@media only screen and (max-width: 749px){
	#logo {
		display: block !important;
		text-align: center;
	    margin: 10px 0;
	}
	#header #cart,
	.box-services {
		display: block !important;
	    margin-bottom: 20px;
	    width: 190px;
	}
	.wishlist-info td,
	.wishlist-info th,		
	table.history-list td, 
	table.history-list th,				
	table.order-info td, 
	table.order-info th,		
	table.compare-info td, 
	table.compare-info th,
	table.pav-checkout-product td,
	table.pav-checkout-product th,
	table.pav-shop-cart td,
	table.pav-shop-cart th{
		border-right: 0 none;
		display: block !important;
		float: none !important;
		text-align: left !important;
		width: auto !important;
	}
	.wishlist-info tr td:before,
	table.history-list tr td:before,
	table.order-info tr td:before,
	table.pav-shop-cart tr td:before{
		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-align: left;
		white-space: nowrap;
		width: 50%;
	}
	.wishlist-info tr td,
	table.order-info tr td,
	table.history-list tr td,
	table.pav-shop-cart tr td {
		text-align:right;
		display: block;
		min-height: 20px;
		border-left: none;
		background: none;
	}
	table.history-list thead,
	table.order-info thead,
	.wishlist-info thead,
	table.pav-shop-cart thead {
		 display:  none;
	}
	#search {
		position: absolute;
	    right: 11px;
	    top: -50px;
	    z-index: 1001;
	    width: 200px;
	    input{
	   		width: 200px;

	    }
	}
	#header #cart, .box-services {
	    margin-left: 35%;
	}
}
@media (max-width: 768px) {
	.header-hidden {
		display:  none !important;
	}
	.page-home .sidebar{
		display:  none !important;
	}
}
@media only screen and (max-width: 360px){
	.header-hidden {
		display:  none !important;
	}
}
@media only screen and (max-width: 320px){
	#topbar .show-mobile .quick-user .inner-toggle {
		right: -40px;
	}
	.product-info .image-additional {
		padding: 0;
	}
	.header-hidden {
		display:  none !important;
	}
	#comment-form .recaptcha input{
		width: 150px !important;
		margin-top: 10px !important;
	}
}

