/******************************************************
 * @package Pav Opencart Theme Framework for Opencart 1.5.x
 * @version 1.1
 * @author http://www.pavothemes.com
 * @copyright	Copyright (C) Augus 2013 PavoThemes.com <@emai:pavothemes@gmail.com>.All rights reserved.
 * @license		GNU General Public License version 2
*******************************************************/

.required {
    font-weight: bold;
}
 
.success, .warning, .attention, .information {
    padding: 10px 10px 10px 33px;
    margin-bottom: 15px;
    color: #555555;
    .rounded-corners( 5px );
}
.success .close, .warning .close, .attention .close, .information .close {
    float: right;
    padding-top: 4px;
    padding-left: 4px;
    cursor: pointer;
}
.attention {
    background: #FFF5CC url('@{image-theme-path-base}attention.png') 10px center no-repeat;
    border: 1px solid #F2DD8C;
     .rounded-corners( 5px );
}
.warning {
    background: #FFD1D1 url('@{image-theme-path-base}warning.png') 10px center no-repeat;
    border: 1px solid #F8ACAC;
     .rounded-corners( 5px );
}
p { }
.help {
    color: #999;
    font-size: 10px;
    font-weight: normal;
    font-family:  @font-size-base;
    display: block;
}
.error {
    display: block;
    color: #FF0000;
}

.welcome {
    margin-top: 0px;
    font-size: @font-size-base - 1;
    font-weight: normal;
}
.success {
    background: #EAF7D9 url('@{image-theme-path-base}success.png') 10px center no-repeat;
    border: 1px solid #BBDF8D;
    .rounded-corners( 5px );
}
 
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: @font-family-base;
}

h1 {
  font-size: @font-size-base + 13;
  line-height: @input-height-base * 1;
  small {
    font-size: @font-size-base * 1.5;
  }
}

h2 {
  font-size: @font-size-base + 8;  
  line-height: @input-height-base * 1;
  
  text-transform: uppercase;
  small {
    font-size: @font-size-base;
  }
}

h3 {
  font-size: @font-size-base + 6px; 
  line-height: @input-height-base ; 

  text-transform: uppercase;
  small {
    font-size: @font-size-base + 2px;
  }
}

h4 {
  font-size: @font-size-base + 3px; 
  text-transform: uppercase;
  small {
    font-size: @font-size-base;
    color: @text-color;
    display:  block;
    margin-top:  2px;
  }
}

h5 {
  font-size: @font-size-base + 1px; 
  small {
    font-size: @font-size-base - 2px;
  }
}

h6 {
  font-size: @font-size-base; 
  line-height: @input-height-base; 
}
