<div class="pav-megamenu">
	<div class="navbar">
		<div id="mainmenutop" class="megamenu" role="navigation">
			<div class="navbar-header">
			<a href="javascript:;" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		     </a>
			<div class="collapse navbar-collapse navbar-ex1-collapse">
			<?php echo $treemenu; ?>
			</div></div>
		</div>
	</div>
</div>