.navbar-header {
  float: right;
}
.navbar-nav > li {
  float: right;
}
.dropdown-menu {
  left: inherit;
  right: 0;
  float: right;
}
#pav-mainnav .megamenu .menu-icon {
  background-position: right center !important;
  padding-right: 30px;
  padding-left: 0;
}
.box-services > .pull-left,
#cart .pull-left,
.media > .pull-left {
  margin-left: 10px;
  margin-right: 0;
}
.carousel-controls {
  left: 0;
  right: inherit;
}
.box .box-heading span:before {
  left: inherit;
  right: 0;
}
.box .box-heading {
  background-position: 100% center;
}
.sidebar .box.dark .box-heading:before {
  left: inherit;
}
.sidebar .box .box-heading span:before {
  border-left: 24px solid transparent;
  border-right: 0;
}
#content h1:after {
  left: inherit;
  right: 0;
}
.htabs a {
  float: right;
}
/*Search*/
#search .button-search {
  right: inherit;
  left: 0;
}
#search input {
  padding: 5px 10px 5px 30px;
}
.blog-meta ul {
  text-align: left;
}
#header #cart .content {
  right: inherit;
  left: 0;
}
.pavblock .image {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.iconbox {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.iconbox i {
  padding-right: 3px;
  padding-left: 0;
}
.box-media .media p {
  margin-right: 0;
}
#pav-mainnav .dropdown-menu li a {
  background-position: right 10px;
  padding: 3px 10px 3px 0;
}
#pav-mainnav .dropdown-menu li a:hover {
  background-position: right -29px;
}
ul.links li {
  margin-left: 15px;
  margin-right: 0;
}
ul.list > li > a {
  background-position: right 3px;
  padding-right: 15px;
  padding-left: 0;
}
ul.links li > a span {
  margin-right: 0;
  margin-left: 10px;
}
ul.list > li > a:hover,
ul.list > li > a.active {
  background-position: right -45px;
}
ul.list > li ul > li {
  padding: 10px 25px 0 0;
}
#footer .column ul li a {
  padding-right: 0;
}
#footer .column ul li a:hover {
  padding-right: 15px;
}
.sidebar .product-block .image {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.product-filter .display {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.product-filter .display span {
  float: right!important;
}
.product-filter .sort,
.product-filter .limit,
.product-filter .product-compare {
  float: left;
  margin-left: 0;
  margin-right: 10px;
}
.category-list ul {
  float: right;
}
.product-list .image {
  float: right;
  margin: 0 0 0 10px;
}
.product-block .product-meta .wishlist {
  left: inherit;
}
.product-block .product-meta .wishlist a {
  margin-right: 0;
  margin-left: 10px;
}
.product-block .product-meta .compare {
  right: inherit;
}
.product-block .product-meta .compare a {
  margin-left: 0;
}
.product-block:hover .product-meta .wishlist {
  left: inherit;
  right: 0;
}
.product-block:hover .product-meta .compare {
  right: inherit;
  left: 0;
}
.addthis_default_style .addthis_separator,
.addthis_default_style .at300b,
.addthis_default_style .at300bo,
.addthis_default_style .at300m,
.addthis_default_style .at300bs {
  float: right;
}
#header #cart .heading a span {
  background-position: 0 50% ;
  padding-right: 0;
  padding-left: 15px;
}
.box-media .media a.pull-left {
  margin-right: 0;
  margin-left: -45px;
}
.box-media .media a.pull-right {
  margin-left: 0;
  margin-right: -45px;
}
.bloglatest .pavblock .image {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.contact-address ul li i {
  float: right;
}
.contact-address ul li span {
  padding-left: 0;
  padding-right: 15px;
}
.contact-customhtml ul li i {
  float: right;
  padding: 8px 10px 6px 5px;
}
.contact-customhtml ul li span {
  padding-left: 0;
  padding-right: 5px;
}
.zoomContainer .zoomWindow {
  float: inherit;
  float: right !important;
  right: 397px;
}
#topbar .show-mobile ul li,
#topbar .show-mobile .links li {
  text-align: right;
}
.pavo-widget .widget-product-list .image {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.offcanvas-menu {
  left: inherit;
  right: 0;
}
.offcanvas-effect-3.offcanvas-menu-open .offcanvas-pusher {
  transform: translate3d(-300px, 0px, 0px);
}
.offcanvas-effect-3.offcanvas-menu {
  transform: translate3d(100%, 0px, 0px);
}
#topbar .show-mobile .inner-toggle {
  right: inherit;
  left: 0;
}
.close {
  float: left;
}
